.journey {
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  color: white;
  max-width: 984px;
  margin: 0 auto;
}

.journey__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 104%;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
}

.journey__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 120%;
  font-weight: normal;
  text-align: center;
  margin: 32px auto 64px;
  white-space: pre-line;
}

.journey__image {
  width: 100% ;
}

.journey__caption {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .journey__subtitle {
    margin: 32px auto 56px;
  }
}

@media (max-width: 700px) {
  .journey__title {
    font-size: 40px;
    line-height: 110%;
  }

  .journey__subtitle {
    font-size: 16px;
    line-height: 125%;
  }
}

@media (max-width: 320px) {
  .journey__title {
    margin-left: 16px;
    margin-right: 16px;
  }

  .journey__subtitle {
    margin: 16px 16px 40px;
  }
}
