.content-wrapper {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


@media (max-width: 1024px) {
  .content-wrapper {
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 320px) {
  .content-wrapper {
  margin: 0;
  }
}
