.journey__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 104%;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 700px) {
  .journey__title {
    max-width: 320px;
    font-size: 40px;
    line-height: 110%;
  }
}

