.info {
  max-width: 690px;
  margin: 0 auto 0 0;
  padding: 92px 0;
}

@media (max-width: 768px) {
  .info {
    max-width: 720px;
    padding: 88px 0;
  }
}

@media (max-width: 425px) {
  .info {
    max-width: 288px;
    padding: 64px 0;
    margin: 0 16px;
  }
}
